#token-hud .status-effects {
    --effect-columns: 4;
}

.palette.status-effects.active {
    grid-template-columns: repeat(var(--effect-columns), calc(6rem + var(--effect-size)));

    .effect-control {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        opacity: 0.7;
        color: var(--control-icon-color);

        width: unset;
        height: unset;

        &:hover {
            color: var(--control-active-icon-color);
            opacity: 0.9;
        }

        img {
            width: var(--effect-size);
            height: var(--effect-size);
        }

        .effect-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}